{% extends 'base.html' %}

{% block title %}Adoption Agency{% endblock %}

{% block content %}
<div>
    <h1>Pets</h1>
    {% for pet in pets %}
    <div>
        <img src="{{ pet.photo_url }}">
        <p>
            <a href="pet/{{ pet.id }}">{{ pet.name }}</a> 

            {% if pet.available: %}
                <b>is available!</b>
            {% else: %}
                is not available.
            {% endif %}
        </p>
    </div>
    {% endfor %}
    <button><a href="/add">Add a Pet</a></button>
</div>
{% endblock %}